<head>
  <link rel="stylesheet" href="/styles.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <nav>
    <h1 class="title"><%= title %></h1>
    <%- include('navbar', {links: links}) %>
  </nav>
  <div class="message-container">
    <h2><%= message.user %></h2>
    <p class="date">Created at <%= message.added %></p>
    <p class="date">ID <%= message.id %></p>
    <p class="message-text"><%= message.text %></p>
  </div>
</body>
