<head>
  <link rel="stylesheet" href="/styles.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <nav>
    <h1 class="title"><%= title %></h1>
    <%- include('navbar', {links: links}) %>
  </nav>
  <ul class="messages">
    <% messages.forEach((message) => { %>
    <li class="message">
      <h2><%= message.user %></h2>
      <p class="date">Created at <%= message.added %></p>
      <p class="message-text"><%= message.text %></p>
      <button><a href="/details/<%= message.id %>">Open</a></button>
    </li>
    <% }) %>
  </ul>
</body>
