<body>
  <h1><%= title %></h1>
  <%- include('navbar', {links: links}) %>
  <ul>
    <% messages.forEach((message) => { %>
    <li>
      <h2><%= message.user %></h2>
      <p>Created at <%= message.added %></p>
      <p><%= message.text %></p>
      <button><a href="/details/<%= message.id %>">Open</a></button>
    </li>
    <% }) %>
  </ul>
</body>
